@import url("https://fonts.googleapis.com/css2?family=Cardo&family=Cinzel:wght@600&display=swap");

* {
  font-family: "Cardo", serif;
}

body {
  font-size: medium;
  color: #5f3612;
  background-color: #869342;
}

h1 {
  font-size: xxx-large;
  float: left;
    margin-left: 5%;
    margin-right: -500px;
    margin-top: -90px;
}

div {
    margin: auto;
}

.container {
  margin: 100px auto;
  background-color: #bac57a;
  height: 544px;
  width: 944px;
  border-radius: 15px;
  position: relative;
  overflow: -moz-hidden-unscrollable;
}

.resume {
    margin: 0px;
}

#roseDeco {
    margin-top: -120px;
    margin-left: -20px;
}

#about {
    text-align: center;
    margin-top: -200px;
    margin-left: 200px;
    margin-right: 200px;
}

img {
    margin: 5px;
}

a {
    opacity: 0.5;
    transition: ease-in-out 0.2s;
}

a:hover {
    opacity: 1;
    transition: ease-in-out 0.2s;
}

.customButton, .buttonLink {
    border-radius: 10px;
    padding: 5px;
    font-family: "Cinzel", serif;
    font-size:large;
    color: #bac57a;
    background-color: #8E4227;
    text-decoration: none;
    width: 200px;
    height: 500px;
    margin-top: 30px;
    transition: ease-in-out 0.5s;
}

.customButton:hover {
    margin-top: -50px;
    transition: ease-in-out 0.5s;
}

footer {
  margin-left: -8px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: small;
  height: 100px;
  background-color: #bac57a;
}

@media screen and (max-width: 992px) {
    footer, .customButton, .buttonLink {
        display: none;
    }
    .container {
        padding-top: 200px;
        margin: 0px;
        height: 100%;
        width: 100%;
        position: absolute;
        border-radius: 0px;
    }
    #about {
        margin-top: 20px;
        margin-left: 30px;
        margin-right: 30px;
    }
     {
        
    }
    #roseDeco {
        display: none;
    }
  }